@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
:root {
  box-sizing: border-box;
  --white: hsl(0, 0%, 100%);
  --neutral-gray: hsl(0, 0%, 20%);
  --neutral-dark-accent: hsl(0, 0%, 12%);
  --neutral-dark: hsl(0, 0%, 8%);
  --primary: hsl(75, 94%, 57%);
  font-family: Inter;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  background-color: var(--neutral-dark);
  color: var(--white);
}

.container {
  padding: 1.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--neutral-dark-accent);
  border-radius: 0.8rem;
  padding: 1.8rem;
  text-align: center;
  max-width: 400px;
}

.card > img {
  border-radius: 100%;
  width: 100px;
}

.card > .card_username {
  font-size: 30px;
  font-weight: 600;
  margin-top: 2rem;
}

.card > .card_location {
  color: var(--primary);
  font-weight: 600;
  margin-top: 0.5rem;
}

.card > .card_description {
  margin-top: 2rem;
}

.card > button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--neutral-gray);
  color: var(--white);
  border: none;
  margin-top: 1rem;
  font-weight: 700;
  transition: opacity 0.1s;
}

.card > button:first-of-type {
  margin-top: 2rem;
}

.card > button:active {
  opacity: 0.4;
}
